html {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 1, 2);   
}
*{
    margin: 0%;
}
.header {
    width: 100%;
    height: 80px;
    background: transparent;
    position: fixed;
    top: 0;
    transition: 0.4s;
    z-index: 5000;
    display: flex;
    justify-content: center;
}
.header nav ul {
    list-style: none;
    display: flex;
}
.header nav ul li{
    font-family: Roboto;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    
}
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu {
    display: inline;    
    list-style-type: none;
    line-height: 80px;
    border-left: 2px solid #fff3;
    transition: 0.4s;
}
.menu li:first-child {
    border-left: none;
}

.menu li a {
    padding: 10px 20px;
    color: #fff;
    position: relative;
}

.menu li a.menu-active::after,
.menu li a:hover::after {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    content: '';
    width: 60%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 5px;
    left: 20%;
}
.header-scroll {
    background: rgba(0, 0, 0, 0.533);
    height: 60px;
    border-bottom: 1px solid #fff;
}

.header-scroll li {
    line-height: 60px;
    border-color: #0008;
}

.header-scroll li a {
    color: rgb(255, 255, 255);
}
.lista-flex {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: start baseline;
}

.hero{
display: flex;
padding: 98px 105px;
justify-content: space-between;
}

.footer {
    background-color: black;
    text-decoration-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 40px;
    border-radius: 20px 20px 0px 0px;
    
}
#footer {
    filter: drop-shadow(-1px -1px 5px #FFFFFF)
}
.footer ul {
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer ul li a {
    text-decoration-color: none;
    color: white;
}
.footer h4{
    color: white;
}

.imagenfooter {
    padding: 20px;
    width: 20px;
    height: 20px;
}

/* imagen home */
.imagen-flex {
    width: 358px;
    height: 359px;
    
}

/* texto home */
.texto {
    color: whitesmoke;
    width: 660px;
    height: auto;
    font-size: 25px;
    padding: 54px;
}
.botoncv {
    position: absolute;
    width: 308px;
    height: 46px;
    left: 150px;
    top: 388px;
    background: #f8f4f3;
    border-radius: 10px;
}


/* skills*/

.titulo {
    padding: 50px;
    position: absolute;
    width: -127px;
    height: 46px;
    left: 189px;
    top: 98px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    color: #E5E5E5;
}
.textoskills{
    color: whitesmoke;
    width: 660px;
    height: auto;
    font-size: 25px;
    padding: 54px;
}
.skills1{
    display: flex;
    padding: 216px 149px 10px 149px;
    justify-content: space-between; 
}
.skills1 img{
    padding: 50px;
    width: 200px;
    height: 200px;
    left: 257px;
    top: 191px;
    filter: drop-shadow(0px -1px 12px #FFFFFF);
}
.skills{
    display: flex;
    padding: 10px 149px;
    justify-content: space-between; 
}
.skills img{
    padding: 50px;
    width: 200px;
    height: 200px;
    left: 257px;
    top: 191px;
    filter: drop-shadow(0px -1px 12px #FFFFFF);
}

/* certificados */

#contentitemscarrusel{
    height: 400px;
    overflow: hidden;
    margin: 110px 60px 55px 60px;
}

.itemcarrucel {
    height: 100%;
    position: relative;
    
}

.tarjetacarrucel{
    height: 100%;
}

.flechacarrucel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.certificado{
    justify-content: space-between;
    width: 450px;
    height: 300px;
    padding: 60px 60px 60px 90px; 
}

/* tarjeta trabajada con html y css no me alcanzo el tiempo  */

.container{
    background-color: #e5e5e560;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    padding: 20px 40px;
}
.container img{
    width: 20%;
    object-fit: cover;
    border-radius: 5px;
}

.contenido{
    color: #E5E5E5;
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contenido p {
    width: 270px;
}
.contenido a{
    color: #E5E5E5;
}

/*proyectos  grid */

.proyectosgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: 100px 200px;
    padding: 100px;
    grid-gap: 100px;
}


/* contacto */
.form-flex {
    width: 600px;
    height: auto;
    background: rgba(0, 0, 0, 90%);
    border-radius: 20px;
    padding: 68px 0px 80px 200px;;
    box-sizing: border-box ;
    margin-top: 20px;
    
}
.form-flex input {
    width: 500px;
    margin-bottom: 1px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}
.form-flex textarea {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}
#boton {
    width: 150px;
    height: 55px;
    background: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    margin-right: 30px;
}
#boton:hover {
    cursor: pointer;
    background: rgb(85, 84, 84);
    color: rgb(255, 244, 244);
    text-decoration: #E5E5E5;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}

.imagen {
    width: 358px;
    height: 359px;
    position: absolute;
    left: 800px;
    top: 100px;
}

@media screen and (max-width: 810px) {
/*  footer */
    .footer {
        background-color: black;
        text-decoration-color: white;
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
        align-items: center;
        padding: 0% 40px;
    }
    .footer ul {
        list-style: none;
        text-decoration: none;
        color: white;
    }
    .footer ul li a {
        text-decoration-color: none;
        color: white;
    }
    .footer h4{
        color: white;
        font-size: 15px;
    }
    .imagenfooter {
        padding: 20px;
        width: 30px;
        height: 30px;
    }


/* home */
    .imagen-flex {
        width: 258px;
        height: 259px;
    
    }

/* texto*/
    .texto {
        color: whitesmoke;
        width: 360px;
        height: 200px;
        font-size: 15px;
        padding: 24px;
    }
    .botoncv {
        width: 546px;
        height: 46px;
        left: 134px;
        top: 378px;
        background: #f8f4f3;
        border-radius: 10px;
        font-size: 15px;
    }
/* skils */
    .titulo {
        top: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        color: #E5E5E5;
    }
    .textoskills{
        color: whitesmoke;
        font-size: 15px;
        padding: 20px;
    }
        .skills1{
        display: flex;
        padding: 150px 141px 26px 121px;
        justify-content: space-between; 
    }
        .skills1 img{
        width: 150px;
        height: 150px;
        padding: 0px 10px 40px 10px;
        top: 191px;
        filter: drop-shadow(0px -1px 12px #FFFFFF);
    }
    .skills{
        display: flex;
        padding: 10px 149px;
        justify-content: space-between; 
    }
    .skills img{
        padding: 1px;
        width: 150px;
        height: 150px;
        filter: drop-shadow(0px -1px 12px #FFFFFF);
    }
/* certificados  */
    #contentitemscarrusel {
    height: 400px;
    overflow: hidden;
    margin: 53px 60px -21px 60px
    }
    .itemcarrucel {
        height: 100%;
        position: relative;
    
    }
    .tarjetacarrucel{
        height: 100%;
        align-items: center;
        display: flex;
    }
    .certificado{
        justify-content: space-between;
        height: 190px;
        width: 250px;
        padding: 0px 0px 0px 60px; 
    }
/* proyectos  */
/* tarjeta trabajada con html y css no me alcanzo el tiempo  */
    .container{
        background-color: #e5e5e560;
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        padding: 20px 40px;
    }
    .container img{
        width: 28%;
        padding: 0px 0px 0px 20px;
    }
    .contenido{
        color: #E5E5E5;
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .contenido p {
        font-size: 14px;
        width: 170px;
    }
    .contenido a{
        color: #E5E5E5;
    }
/*proyectos  grid */
    .proyectosgrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 73px;
        grid-gap: 40px;
    }
/*proyectos  grid */
    .form-flex {
        background: rgba(0, 0, 0, 90%);
        border-radius: 20px;
        padding: 51px 0px 80px 76px;;
        box-sizing: border-box ;
        margin-top: 10px;
    
    }
    .form-flex input {
        width: 300px;
        margin-bottom: 1px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        border-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
    .form-flex textarea {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        border-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
    #boton {
        width: 134px;
        height: 51px;
        background: rgb(255, 252, 252);
        color: rgb(0, 0, 0);
        padding: 10px;
        border-radius: 5px;
        margin-right: 30px;
    }
    #boton:hover {
        cursor: pointer;
        background: rgb(85, 84, 84);
        color: rgb(255, 244, 244);
        text-decoration: #E5E5E5;
        border-radius: 5px;
        filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
    }
    .imagen {
        width: 335px;
        height: 359px;
        position: absolute;
        left: 422px;
        top: 100px;
    }
}




@media screen and (max-width: 320px) {
    /*  footer */
        .footer {
            background-color: black;
            text-decoration-color: white;
            display: flex;
            flex-direction: initial;
            justify-content: space-between;
            align-items: center;
            padding: 3% 13px;
        }
        .footer ul {
            list-style: none;
            text-decoration: none;
            color: white;
        }
        .footer ul li a {
            text-decoration-color: none;
            color: white;
        }
        .footer h4{
            color: white;
            font-size: 8px;
        }
        .imagenfooter {
            padding: 5px;
            width: 15px;
            height: 15px;
        }    
    /* home */
        .imagen-flex {
            width: 64px;
            height: 62px;
        
        }
    
    /* texto*/
        .hero{
            height: max-content;
            width: max-content;
            display: flex;
            padding: 138px 26px;
            justify-content: space-between;
        }
        .texto {
            color: whitesmoke;
            width: 205px;
            padding: 0px;
        }
        .botoncv {
            width: 290px;
            height: 41px;
            left: 17px;
            top: 384px;
            background: #f8f4f3;
            border-radius: 10px;
            font-size: 15px;
        }
    /* skils */
        .titulo {
            top: 5px;
            left: 21px;
            font-size: 20px;
            color: #E5E5E5;
        }
        .textoskills{
            color: whitesmoke;
            font-size: 10px;
            padding: 10px;
        }
            .skills1{
            display: flex;
            padding: 135px 0px 0px 1px;
            justify-content: space-between; 
        }
            .skills1 img{
            width: 60px;
            height: 60px;
            padding: 28px;
            top: 191px;
            filter: drop-shadow(0px -1px 12px #FFFFFF);
        }
        .skills{
            display: flex;
            padding: 10px 1px;
            justify-content: space-between; 
        }
        .skills img{
            padding: 28px;
            width: 60px;
            height: 60px;
            filter: drop-shadow(0px -1px 12px #FFFFFF);
        }
    /* certificados  */
        #contentitemscarrusel {
        height: 311px;
        overflow: hidden;
        margin: 87px 0px 73px -18px
        }
        .itemcarrucel {
            height: 100%;
            position: relative;
        
        }
        .tarjetacarrucel{
            height: 100%;
            align-items: center;
            display: flex;
        }
        .certificado{
            justify-content: space-between;
            height: 25%;
            width: 30%;
            padding: 0px 0px 0px 51px; 
        }
    /* proyectos  */
    /* tarjeta trabajada con html y css no me alcanzo el tiempo  */
        .container{
            background-color: #e5e5e560;
            display: flex;
            justify-content: space-between;
            border-radius: 4px;
            padding: 20px 40px;
        }
        .container img{
            width: 28%;
            padding: 0px 0px 0px 20px;
        }
        .contenido{
            color: #E5E5E5;
            width: 200px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .contenido p {
            font-size: 14px;
            width: 170px;
        }
        .contenido a{
            color: #E5E5E5;
        }
    /*proyectos  grid */
        .proyectosgrid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 73px;
            grid-gap: 40px;
        }
    /*proyectos  grid */
        .form-flex {
            background: rgba(0, 0, 0, 90%);
            border-radius: 20px;
            padding: 51px 0px 80px 76px;;
            box-sizing: border-box ;
            margin-top: 10px;
        
        }
        .form-flex input {
            width: 300px;
            margin-bottom: 1px;
            padding: 10px;
            box-sizing: border-box;
            font-size: 14px;
            border-color: rgb(255, 255, 255);
            border-radius: 5px;
        }
        .form-flex textarea {
            width: 300px;
            height: 200px;
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
            font-size: 14px;
            border-color: rgb(255, 255, 255);
            border-radius: 5px;
        }
        #boton {
            width: 134px;
            height: 51px;
            background: rgb(255, 252, 252);
            color: rgb(0, 0, 0);
            padding: 10px;
            border-radius: 5px;
            margin-right: 30px;
        }
        #boton:hover {
            cursor: pointer;
            background: rgb(85, 84, 84);
            color: rgb(255, 244, 244);
            text-decoration: #E5E5E5;
            border-radius: 5px;
            filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
        }
        .imagen {
            width: 0%;
            height:0%;
            
        }
    }