<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Futuro CSS -->
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <!--fila de logo + nav-->
<header class="header">
    <nav class="menu">
        <ul>
            <li><a href="../index.html" >INICIO</a></li>
            <li><a href="skills.html">SKILLS</a></li>
            <li><a href="certificados .html">CERTIFICADOS</a></li>
            <li><a href="proyectos .html">PROYECTOS</a></li>
            <li><a href="#" class="menu-active">CONTACTO</a></li>
        </ul>
    </nav>
</header>
<!-- cierre de fila logo + nav -->
<main>
    <section class="">
        <img class="imagen" src="../imagenes/ilustracion jx.png" alt="">
        <div>
            <form class="form-flex" action="" method="POST">
                <div class="input-group">
                    <label for="name">Mail:</label>
                    <br>
                    <input type="text" id="Mail" name="Mail" placeholder="Ingrese su Mail" required>
                </div>
                <div class="input-group">
                    <label for="mail">Teléfono:</label>
                    <br>
                    <input type="teléfono" id="Teléfono" name="Teléfono" placeholder="Ingrese su Teléfono:" required>
                </div>
                <div class="input-group">
                    <label for="message">Mensaje</label>
                    <br>
                    <textarea name="mensaje" id="message" cols="30" rows="10" placeholder="Ingrese su mensaje"></textarea>
                </div> 
                <div>
                    <input id="boton" type="submit" value="Enviar mensaje">
                    <input id="boton" type="reset" value="Borrar formulario">
                </div>
            </div>
    </section>
</main>
<footer class="footer" id="footer">
    <h4> © - Desarrollado por Juan Cruz Carreño Mendoza</h4>
    <ul class="footer">
        <li><a href="https://www.instagram.com/juanx.carre/"><img class="imagenfooter" src="../imagenes/logo instagram.png"></a></li>
        <li><a href="https://www.behance.net/juancrcarreo"><img class="imagenfooter" src="../imagenes/logo behanca.png"> </a></li>
        <li><a href="https://www.linkedin.com/in/juan-cruz-carre%C3%B1o-mendoza/"><img class="imagenfooter" src="../imagenes/logo linkedin.png"></a></li>
    </ul> 
</footer>    
<script>
        // Efecto scroll - Header
        window.addEventListener('scroll', () => {
            const header = document.querySelector('header')
            const about = document.querySelector('.hero__about')

            header.classList.toggle('header-scroll', window.scrollY > 0)
            about.classList.toggle('hero__about-scroll', window.scrollY > 100)

            
        })
    </script>
</body>
</html>